.comp_table {
  border-collapse: collapse;
  width: 100%;
}

.comp_table .center_cell {
  text-align: center;
}

.comp_table th, .comp_table td {
  padding: 2px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}
