* {
  box-sizing: border-box;
}

/* Create two unequal columns that floats next to each other */
.over_div {
  float: left;
  padding: 5px;

  margin-left: 25%;
  margin-right: 25%;
  width: 50%;
  background-color:#DDD;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
