.comp_table {
  border-collapse: collapse;
  width: 97%;
  margin-left: 10px;
  background: #f4ffff
}

.overview_table {
  border-collapse: collapse;
  width: 97%;
  margin-left: 10px;
  border-bottom: 2px solid #bbb;
  padding-bottom: 5px;
}

.overview_table .center_cell, .comp_table .center_cell {
  text-align: center;
}

.overview_table td, .comp_table td {
  padding: 2px;
  text-align: right;
  border-bottom: 1px solid #ddd;
}

.overview_table th, .comp_table th {
  padding: 2px;
  text-align: right;
  border-top: 2px solid #bbb;
  border-bottom: 2px solid #bbb;
}

.inner_table {
  margin-bottom: 1.4em;
  border-collapse: collapse;
  width: 100%;
}

.inner_table td {
  padding: 2px;
  text-align: right;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  padding-left: 1em;
  padding-right: 1em;
}

/*.bold_txt { font-weight: bold; }*/
.num_match    { font-weight: 600; color: rgba(  0, 200,   0) }
.num_gap      { font-weight: 600; color: rgba(127, 127, 127) }
.num_mismatch { font-weight: 600; color: rgba(235,   0,   0) }
