body {
/*-------------------------------------*/
  font-family: Arial;
  /*
  color: green;
  */
}

.all {
    position: fixed;
    height: 93%;
    width: 100%;
    margin-left: 0.5%;
}
.row {
    /*position: fixed;*/
    vertical-align: top;
    height: 97%;
    width: 100%;
}
.column {
    float: left;
    width: 32.4%;
    height: 100%;
    overflow: auto;
    white-space: nowrap;
}
.header_row {
    vertical-align: top;
    text-align: center;
}

/*-------------------------------------*/
/*
::-webkit-scrollbar {
  width: 20px;
}
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
}
::-webkit-scrollbar-thumb {
  background: rgb(255,0,0,0.5); 
}
::-webkit-scrollbar-thumb:hover {
  background: #b30000; 
}
*/

/* width */
/* Track */
/* Handle */
/* Handle on hover */
/*-------------------------------------*/

/*-------------------------------------*/
/* for matching window */

.match     { background-color: lightgreen; margin:1px; }
.mismatch  { background-color: rgba(255,0,0,0.5);     margin:1px; }
.gap       { background-color: rgba(127,127,127,0.5); margin:1px; }
.not_match { background-color: transparent; margin:1px; }

.line_a { margin-top: 9px; margin-bottom: 2px }
.line_b { margin-top: 2px; margin-bottom: 9px }

.modal_inner { text-align: left; }
